<p>nombre Empleado: {{nombre}}</p>
<p>apellido Empleado: {{apellido}}</p>
<p>edad Empleado: {{esMayor(edad)}}</p>
<p>empresa Empleado: {{empresa}}</p> 
<div>
    Introduce la empresa: <input type="text" placeholder="introduce empresa" #empresaSet (keyup)="0" [disabled]="deshabilitar">
    <!-- <button textContent="Dale" (click)="getEmpresa(empresa.value)"></button> BOTON funcion vacia para retornar valor solamente-->
    <!-- (keyup) era para hacer que se llene empresa directamente al levantar una tecla -->
</div>
<br/>
{{textoDeRegistro}}
<br/>
Registrado: <input type="radio" value="si" name="nRegistro" [checked]="registrado" (click)="setUserRegistrado($event)"><br/>
No Registrado: <input type="radio" value="no" name="nRegistro"  (click)="setUserRegistrado($event)"><br/>
Listo <button (click)="setEmpresa(empresaSet.value)" >Dale</button>